/k6
/k6.exe

vendor

.vscode
*.sublime-workspace
*.log
*.syso
.idea
*.DS_Store

# we use the config from the main k6's repository
# https://github.com/grafana/k6/blob/master/.golangci.yml
.golangci.yml